.slider-item {
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgba(118, 214, 198, 0.712);
    border-radius: 12px;
}

.slider-item-text {
    align-self: center;
    width: 70%;
}

.actual-promo {
    font-size: 40px;
    color: palevioletred;
}